.auth__actions {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 24px 0;
}

.auth__login {
  padding: 12px;
  margin: 16px;
  background-color: var(--color-primary);
  font-size: 18px;
}

.auth__loading {
  height: 64px;
  margin: 16px 0 24px;
}
