.container {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 16px;
}

.main {
  margin-top: 24px;
}

.header {
  height: 64px;
  background-color: var(--color-bg-200);
  display: flex;
  align-items: center;
}

.header__container {
  width: 30%;
  min-width: 200px;
  margin-left: auto;
  display: flex;
  align-items: center;
}

.header__avatar {
  margin: 0 12px;
}

.row {
  display: flex;
  flex-flow: row wrap;
  margin-left: -16px;
  margin-right: -16px;
}

.row-fluid {
  display: flex;
  flex-flow: row wrap;
}

.file-actions__selected {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.align-center {
  display: flex;
  align-items: center;
  flex-direction: column;
}
